ALLOW_EMPTY_PASSWORD=yes
MARIADB_USER=bn_wordpress
MARIADB_DATABASE=bitnami_wordpress


ALLOW_EMPTY_PASSWORD=yes
WORDPRESS_DATABASE_USER=bn_wordpress
WORDPRESS_DATABASE_NAME=bitnami_wordpress

WORDPRESS_USERNAME=root
WORDPRESS_PASSWORD=root
WORDPRESS_EMAIL=user@example.com
WORDPRESS_FIRST_NAME=FirstName
WORDPRESS_LAST_NAME=LastName
WORDPRESS_BLOG_NAME=User's blog
WORDPRESS_SCHEME=http
